.textarea-container textarea {
  color: inherit;
  overflow: hidden;
  resize: none;
  width: 100%;
}

.textarea-container textarea[disabled] {
  cursor: pointer;
  color: inherit;
  background: transparent;
  border-color: transparent;
}
