.column {
    display: flex;
    flex-direction: column;
    background: #EBECF0;
    border-radius: 5px;
}

.column__column-header textarea {
    font-weight: 600;
    padding-left: 5px;
    padding-right: 5px;
}

.column__column-header {
    font-weight: 600;
    padding: 8px 10px 2px;;
}

.column__wrapper {
    box-sizing: content-box;
    min-width: 272px;
    max-width: 272px;
}

.column-footer__new-card {
    padding: 5px 0;
    color: #5E6C84;
    border-radius: 5px;
    cursor: pointer;
}

.column-footer__new-card:hover {
    color: inherit;
    background: rgba(0, 0, 0, 0.1);
}

.column__column-footer {
    margin: 0 5px 8px;
    padding: 0 5px;
}

.column__column-footer > .column-footer__new-card::before {
    margin-left: 5px;
    margin-right: 5px;
    content: "\271A";
}

.new-card {
    padding: 8px 0;
}

.new-card__container-button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.new-card textarea {
    padding: 2px 8px 2px;
}

.container-button__button {
    border-radius: 5px;
}

.container-button__button:hover {
    background: rgba(255, 255, 255, 0.5);
}

.column__list-cards {
    margin: 0 5px;
    padding: 0 5px;
}