.card {
  padding: 5px;
  margin: 5px 0;
  box-shadow: 0 1px 0 rgba(10, 30, 60, 0.25);
  cursor: pointer;
}

.card:hover {
  background: rgba(255, 255, 255, 0.5);
}

.popup__card-close {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  margin: 10px;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
  color: inherit;
}

.popup__card-close:active,
.popup__card-close:hover
{
  text-decoration: none;
  color: inherit;
}

.card__title > h2 {
  font-size: inherit;
  margin-bottom: 2px;
}

.badges_comment {
  display: flex;
}

.badges_comment::before {
  margin: 0 5px;
  content: "\270E";
}

.popup__card-close::before {
  content: "\2716";
}