header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 46px;
  padding: 2px;
  flex: 0 0 auto;
  background: #ebecf0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e6e6e6;
}

header > .header__name {
  font-weight: 600;
  padding: 0 10px;
}
